<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESC/POS Printer Monitor</title>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
<div id="page" style="flex-grow: 1;">
    <h1>Printer Status:</h1>
    <ul>
        <li>Online</li>
        <li>Printer Address: {{host}}</li>
        <li>Print Ports: {{jetDirectPort}} (Jetdirect), 515 (lpd)</li>
        {%if debug == 'True'%}
            <li><b style="color:#8B0000">Debug mode enabled</b></li>
        {%endif%}
    </ul>

    <a href="/receipts">View printed receipts list</a>
</div>
{% include 'footer.html' %}
</body>
</html>
