<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Printed Receipts</title>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
<div id="page" style="flex-grow: 1;">
    {%if receiptlist|length > 0 %}
    <h1>{{receiptlist|length}} receipt{%if receiptlist|length > 1%}s{%endif%} available</h1>
        <ul id="receiptlist">
            {%for receipt in receiptlist%}
                <li><a href="/receipts/{{receipt[0]}}">{{receipt[1]}}</a></li>
            {%endfor%}
        </ul>
    {% else %}
        <h1>No receipts found!</h1>
    {% endif %}
    {# a comment #}
</div>
{% include 'footer.html' %}
</body>
</html>
